@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.woff2') format('woff2'),
    url('fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa Rust Sans';
  src: url('fonts/NexaRustSans-Black.woff2') format('woff2'),
    url('fonts/NexaRustSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/CooperHewitt-Thin.woff2') format('woff2'),
    url('fonts/CooperHewitt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  padding: 3px;
}

::-webkit-scrollbar-track {
  background-color: #0d2131;
}

::-webkit-scrollbar-thumb {
  background-color: #eacc4e;
  height: 8vh;
}

a {
  color: #eacc4e;
  text-decoration: none;
}

a:hover {
  cursor: url(images/972718A4.png) 35 35, auto;
}

.cursor {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(images/cursor.svg);
  background-position: center;
  background-size: contain;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .8s infinite alternate;
  pointer-events: none;
  z-index: 101;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.7);
  }
}

.hover {
  border: 1px solid #eacc4e;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px #eacc4e);
}

#triangle-down {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 2.4em solid #eacc4e;
  margin-left: 50vw;
  margin-top: 95vh;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  animation: triangleAnim 4s infinite, 1s;
  animation-delay: 1s;
}

@keyframes triangleAnim {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(0, 7px);
    filter: drop-shadow(0px 0px 20px #eacc4e);
  }

  15% {
    transform: translate(0, -8px);
    filter: drop-shadow(0px 0px 20px #eacc4e);
  }

  20% {
    transform: translate(0, 3px);
  }

  25% {
    transform: translate(0, -2px);
  }

  30% {
    transform: translate(0, 1px);
  }

  33% {
    transform: translate(0, -1px);
  }

  45% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.fadingIn {
  transition-timing-function: ease-in-out;
  animation: fadeIn 1s;
}

.fadingOut {
  transition-timing-function: ease-in-out;
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

body {
  background: radial-gradient(#293b49 0%, #0e2131 70%);
  background-repeat: no-repeat;
  cursor: none;
  overflow-y: overlay;
  font-family: 'Cooper Hewitt';
  font-weight: 200;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.centering {
  display: flex;
  justify-content: center;
}

#burger {
  padding: 14px;
}

#burger div {
  margin-top: 5px;
  width: 32px;
  height: 2px;
  background-color: #eacc4e;
}

#exitBtn {
  padding: 5px;
  font-family: 'Nexa Rust Sans';
}

.main-menu {
  position: absolute;
  margin: 0 auto;
  height: 60vh;
  background-color: #0e2131;
  border: 1.5px solid #eacc4e;
  width: 3px;
  margin-top: -60vh;
  color: #eacc4e;
  z-index: 10;
}

.animated-menu {
  animation: slideDownMenu;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideDownMenu {
  0% {
    margin-top: -65vh;
    width: 3px;
    font-size: 0em;
  }

  20% {
    margin-top: 100px;
    width: 3px;
    font-size: 0em;
  }

  70% {
    margin-top: 50px;
    width: 3px;
    font-size: 0em;
  }

  100% {
    margin-top: 50px;
    width: 20vw;
    font-size: 1.3em;
  }
}

.animated-menu-back {
  animation: slideUpMenu;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideUpMenu {
  0% {
    margin-top: 50px;
    width: 20vw;
    font-size: 1.3em;
  }

  20% {
    margin-top: 50px;
    width: 3px;
    font-size: 0em;
  }

  70% {
    margin-top: 100px;
    width: 3px;
    font-size: 0em;
  }

  100% {
    margin-top: -65vh;
    width: 3px;
    font-size: 0em;
  }
}

.main-menu ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-menu li {
  list-style: none;
  font-family: Quicksand;
  text-align: center;
}

#front-page {
  background-image: url(images/backgr.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 34px;
  height: 20vh;
  border-left: 1px solid #eacc4e;
}

.logo {
  height: 20vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  animation: zooming 1s ease-in forwards;
}

.profile-pic {
  position: absolute;
  width: 24vw;
  height: 60vh;
  background-image: url(images/piotr_pic.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: ;
  margin-top: ;
  animation: zooming 1s ease-in forwards;
}

@keyframes zooming {
  0% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.yellow-outline {
  position: absolute;
  border: #eacc4e solid 1px;
  height: 60vh;
  width: 20vw;
}

.yellow-outline:nth-of-type(1) {
  margin-top: -60px;
  margin-left: -70px;
  border-top-left-radius: 10%;
}

.yellow-outline:nth-of-type(2) {
  margin-top: 60px;
  margin-left: 50px;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 25%;
}

#second-page {
  background-image: url(images/background-2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-label {
  width: 30vw;
  display: block;
  padding-left: 3vw;
}

.site-label :nth-child(1) {
  color: #eacc4e;
  font-size: 2.8em;
  line-height: 3em;
}

.site-label :nth-child(2) {
  padding-top: 2vh;
  color: #b3cadb;
  font-size: 1.4em;
  line-height: 1.6em;
}

.ice-cont {
  width: 76vw;
  height: 100vh;
  margin-right: 4vw;
}

.colorchange {
  color: #eacc4e;
}

.kra-btn {
  font-size: 2em;
}

.kra {
  animation-name: float;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }
}

#kra-1 {
  position: absolute;
  width: 16%;
  margin-left: 18%;
  margin-top: 12%;
  animation-delay: 1s;
  z-index: 1;
}

#kra-2 {
  position: absolute;
  margin-left: 23%;
  margin-top: 26%;
  animation-delay: 0s;
  z-index: 1;
}

#kra-3 {
  position: absolute;
  margin-left: 40%;
  margin-top: 27%;
  animation-delay: 4s;
  z-index: 1;
}

#kra-4 {
  position: absolute;
  margin-left: 32%;
  margin-top: 11%;
  animation-delay: 2s;
  z-index: 1;
}

#kra-41 {
  position: absolute;
  margin-left: 31%;
  margin-top: 8%;
  animation-delay: 1s;
  z-index: 1;
}

#kra-42 {
  position: absolute;
  margin-left: 48%;
  margin-top: 19%;
  animation-delay: 1s;
  z-index: 1;
}

#kra-5 {
  position: absolute;
  margin-left: 25%;
  margin-top: 5%;
  animation-delay: 5s;
}

#kra-6 {
  position: absolute;
  margin-left: 11%;
  margin-top: 23%;
  animation-delay: 0s;
}

#kra-7 {
  position: absolute;
  margin-left: 13%;
  margin-top: 31%;
  animation-delay: 3s;
}

#kra-8 {
  position: absolute;
  margin-left: 27%;
  margin-top: 40%;
  animation-delay: 1s;
}

#kra-9 {
  position: absolute;
  margin-left: 55%;
  margin-top: 21%;
  animation-delay: 2s;
}

#third-page {
  background-image: url(images/background-2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.longer-text {
  width: 60%;
}

.longer-text h4 {
  color: #eacc4e;
  font-size: 2.8em;
  line-height: 3em;
}

.longer-text p {
  padding-top: 2vh;
  color: #b3cadb;
  font-size: 1.4em;
  line-height: 1.6em;
}

.subpage {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/arcticthinner.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.timeline {
  padding: 0 20px 0 20px;
  height: 50vh;
  width: fit-content;
}

.timeline-up {
  border-bottom: 0.5px solid white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.timeline-down {
  border-bottom: 0.5px solid white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.item {
  width: 14vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cad8e0;
  font-size: 1em;
  font-family: Quicksand;
}

.date {
  padding-top: 2em;
  padding-bottom: 2em;
}

.item-up {
  margin-bottom: -15.5px;
  margin-right: 14vw;
  justify-content: flex-end;
}

.item-down {
  justify-content: flex-start;
  margin-top: -15.5px;
  margin-left: 14vw;
}
